body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: blue;
    background-color:burlywood;
  }